.text-base {
    font-family: $basic-font;
    display: block;
    padding-left: 25px;
    &.italic {
        font-style: italic;
    }
}

.goalTitleCard {
    display: flex;
}

.autocomplete {
    display: block;
    padding-left: 25px;
}