.text-base {
    font-family: $basic-font;
    display: block;
    margin-left: 25px;
    padding: 5px;
    &.italic {
        font-style: italic;
        &.marg {
            margin-left: 5px;
        }
    }
    max-width: fit-content;
}

.goalTitleCard {
    display: flex;
}

.autocomplete {
    display: block;
    padding-left: 25px;
}