.text-base {
    font-family: $basic-font;
    font-style: italic;
    display: block;
    padding-left: 25px;
}

.goalTitleCard {
    display: flex;
}

.autocomplete {
    display: block;
    padding-left: 25px;
}