.scoreboard {
    background-color: $bp-white;
    border-radius: $border-radius-small-objects;
    margin: 22px;
    padding: 11px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &.large {
        max-width: $large-box-width;
        max-height: $large-box-height;
        flex-grow: 1;
    }

    &.small {
        width: $small-box-width;
        max-height: $small-box-height;
    }
}

.income_scoreboards {
    display: flex;
    max-height: $large-box-height;
    flex-direction: row;
    flex-grow: 1;
}

.main_page {
    display: flex;
    flex-direction: column;
    height: 80%;
}

.heading1 {
    font-family: $basic-font;
    font-style: normal;
    font-weight: $font-weight-bolder;
    font-size: $font-size-large;
    line-height: $line-height-large;

    color: $bp-black;
}

.heading2 {
    font-family: $basic-font;
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
    line-height: $line-height-base;

    color: $bp-black;
}

.more_button_container {
    font-family: $basic-font;
    font-style: normal;
    font-weight: $font-weight-bold;

    flex-shrink: 0;
    
    cursor: pointer;
    :hover {
        color: $bp-blue-highlighted;
    }
}