.scoreboard {
    background-color: $bp-white;
    border-radius: $border-radius-small;

    &.large {
        width: $large-box-width;
        height: $large-box-height;
    }

    &.small {
        width: $small-box-width;
        height: $small-box-height;
    }
}

.heading1 {
    font-family: $basic-font;
    font-style: normal;
    font-weight: $font-weight-bolder;
    font-size: $font-size-large;
    line-height: $line-height-large;

    color: $bp-black;
}

.heading2 {
    font-family: $basic-font;
    font-style: normal;
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
    line-height: $line-height-base;

    color: $bp-black;
}