.scoreboard {
    background-color: $bp-white;
    border-radius: 8px;
}

.scoreboard .large {
    width: 765px;
    height: 195px;
}

.scoreboard .small {
    width: 360px;
    height: 158px;
}

.heading1 {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;

    color: $bp-black;
}

.heading2 {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    color: $bp-black;
}