.sidebar {
  height: 100%;
  width: 100%;
  background-color: $bp-blue;
  color: $bp-white;
}

.sidebarList {
  height: auto;
  width: 100%;
  padding: 0;
}

.sidebarList .row {
  height: 80px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.sidebarList .row:hover {
  cursor: pointer;
  background-color: rgb(211, 211, 211);
}

.sidebarList #active {
  background-color: $bp-orange;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
  transform: scale(2.4);
}

.row #title {
  flex: 70%;
  display: none;
}

.sidebar:hover {
  .row #title {
    display: grid;
  }
}