// Colors
$bp-black: #2E282A;
$bp-blue: #003049;
$bp-red: #751717;
$bp-orange: #CD5334;
$bp-yellow: #FCBF49;
$bp-green: #A7C957;
$bp-white: #FEFAE0;

// Base
$background-base: rgba(252, 191, 73, 0.5);

// Color highlights
$bp-blue-highlighted: rgb(16, 85, 97);

// Fonts
$basic-font: 'Roboto', sans-serif;
$title-font: 'Vidaloka';

$font-size-small: 18px;
$font-size-medium: 28px;
$font-size-medium-2: 32px;
$font-size-large: 72px;
$font-size-huge: 120px;

$line-height-small: 35px;
$line-height-base: 38px;
$line-height-large: 75px;

$font-weight-base: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;

// Roundness
$border-radius-small: 8px;
$border-radius-medium: 15px;
$border-radius-large: 30px;
$border-radius-small-objects: 8px;
$border-radius-large-objects: 30px;

// Scoreboards
$small-box-width: 360px;
$small-box-height: 158px;

$large-box-width: 765px !important;
$large-box-height: 195px;

// Paddings
$base-padding: 30px;

// Panel padding:
$panel-padding: 50px;

// Buttons:
$button-big-width: 230px;
$button-big-height: 70px;

$button-small-width: 250px;
$button-small-height: 50px;

$icon-button-big-size: 70px;
$icon-button-small-size: 30px;

$icon-button-big-icon-size: 60px;
$icon-button-small-icon-size: 20px;
