// Colors
$bp-black: #2E282A;
$bp-blue: #003049;
$bp-red: #751717;
$bp-orange: #CD5334;
$bp-yellow: #FCBF49;
$bp-green: #A7C957;
$bp-white: #FEFAE0;

// Base
$background-base: rgba(252, 191, 73, 0.5);

// Sidebar
$sidebar-closed-width: 132px;
$sidebar-open-width: 431px;

// Font
$basic-font: 'Roboto', sans-serif;
$title-font: 'Vidaloka';